body{
    margin: 0;
    padding: 0;
}


.calculator-container{
    height: 400px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.757);
    margin: 50px auto;
    border-radius: 30px;
    padding: 20px;

}
.screen-container{
    padding: 10px;
    
}

.screen{

    width: 260px;
    height: 60px;
    display: block;
    margin:20px auto;
    border-radius: 10px;
    background-color: #a8c065;
    text-align: right;
    font-size: 50px;
    border: none;


}

.btn-container{
    display: flex;
    flex-direction: row;
    height: 280px;
    flex-wrap: wrap;
   
}


.btn{

    padding: 10px 0px;
    border-radius: 10px;
    font: 20px;
    margin: 5px;
    width: 50px;
    height: 40px;
    text-align: center;
}

.equals-to{
    width: 105px;
    background-color: red;
    color: white;
   
}

.btn:hover{
    box-shadow: 0 0 5px white;
    cursor: pointer;
}