body{
    padding: 0;
    margin: 0;
}

.mobile-container{
    height: 500px;
    width: 250px;
    background-color: rgb(249, 203, 195);
    margin: 50px auto;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid black;


}

.top-head-icons{
    display: flex;
    justify-content: space-between;
}

.head-icon{
    height: 15px;
 
}



.head-img{
    height: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
}


.search-bar{
    
    background-color: white;
    margin-top: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4px;
 
}

.search-bar-icons{
    margin-top: 10px;
    height:20px;
}

.icon-img{
    height: 40px;
    margin: 6px 8px;
}

.margin-right{
   margin-right: 15px;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: space-around;
  margin-top: 15px;
}

.scrollbar-img{
    display: block;
    margin: 10px auto;

    
}

